# ignore everything
*

# except these files
!.editorconfig
!.gitattributes
!.gitignore
!.travis.yml
!_config.yml
!LICENSE.TXT
!README
!Vagrantfile

# except chef directory (which uses it's own .gitignore)
!chef/
