# ignore everything
*

# except these files
!.editorconfig
!.gitattributes
!.gitignore
!.travis.yml
!LICENSE.TXT
!node.json
!README
!Vagrantfile
!Vagrantfile.yml.example

# except chef directory (which uses it's own .gitignore)
!.chef/
